.form-input {
    position: relative;
    padding: .7rem .5rem;
    /* background: green; */
}
.form-input label {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    background: var(--bg-color);
    padding: 0 4px;
    cursor: text;
}
.textarea label {
    top: 20%;
    left: 1.5rem;
    transform: translateY(-20%);
}
.form-input label.is-focus {
    top: 0;
    transform: translateY(0);
    transition: all .3s ease-in-out;
}
.form-input label.is-focus {
    top: 0;
    background: var(--bg-color);
}
.form-input input,
.form-input textarea {
    text-indent: .5rem;
    line-height: 1.1rem;
}
.form-input input:focus, 
.form-input textarea:focus {
    outline: none;
}