.navbar img {
    width: 70px;
}
.navbar input[type="search"] {
    width: 100px;
    font-size: 14px;
    padding: 6.7px 12px;
    border: 1px solid #b9b9b9;
    border-radius: 14px;
    outline: none;
    transition: width 0.7s ease-in-out;
}
.navbar input[type="search"]:hover {
    width: 300px;
    transition: width 0.7s ease-in-out;
}
.navbar input[type="search"]:focus {
    width: 350px;
}

/* ===========MEDIA QUERIES ========== */
@media (max-width: 900px) {
    .navbar img {
        width: 60px;
    }
}

@media (max-width: 767px) {
    .tophead_items{
        padding: 0;
        line-height: 20px;
    }
    .tophead_items a {
        font-size: 11px;
        margin-right: 4px;
        text-transform: capitalize;
    }
    .navbar img {
        width: 40px;
    }
    .navbar input[type="search"] {
        padding: 5.5px 12px;
    }
    .navbar input[type="search"]:hover {
        width: 270px;
    }
    .navbar input[type="search"]:focus {
        width: 270px;
    }
}