.form-input {
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
}
.form-input label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1rem;
    cursor: text;
}
.textarea label {
    top: 20%;
    left: 1rem;
    transform: translateY(-25%);
}
.form-input label.is-focus {
    top: 0;
    padding: 0 0.25rem;
    transform: translateY(25%);
    background: var(--bg-color);
    transition: all .3s ease-in-out;
    border: none;
}
.form-input input,
.form-input textarea,
.form-input select {
    line-height: 1.1rem;
    width: 100%;
    padding: 13px;
    border-radius: .5rem;
    border: 1px solid #D1D5DB;
}
.form-input textarea {
    margin-bottom: -5px;
}
.form-input input[type="checkbox"] {
    width: 1.5rem;
    display: inline-block;
    cursor: pointer;
}
.form-input input:focus,
.form-input textarea:focus,
.form-input select:focus {
    outline: none;
    border: 1.5px solid var(--p-color);
    border-radius: .5rem;
}
.form-input input.error,
.PhoneInput.error input,
.form-input textarea.error,
.form-input select.error {
    border: 1px solid #ee2727;
}
.form-input small {
    position: absolute;
    bottom: -.20rem;
    left: 0;
    color: #ee2727;
}
form input[type="submit"],
button {
    border: none;
    outline: none;
}

/* ==============CUSTOM SELECT============= */
.give-item-wrp {
    position: relative;
}
/* .custom-select.error > div {
    border: 1px solid #ee2727;
} */

