@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap'); */

:root {
    --p-color: #7730fc;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f8ff;
    color: #444;
}

.blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    z-index: -9;
    transition: all 0.5s ease-in-out;
}

.blur-bg.active {
    opacity: 1;
    z-index: 999;
    backdrop-filter: blur(1px);
    transition: all 0.5s ease-in-out;
}

a, li {
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: var(--p-color);
    text-decoration: none;
}

#preloader {
    opacity: 1;
    transition: opacity 1s ease-out;
}

#preloader.opacity-0 {
    opacity: 0;
}