.about-hero {
    background-image: url('../images/awaays3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-hero-inner {
    background: rgba(0,0,0,.7);
}
