.hero {
    position: relative;
    padding: 0 3rem;
    transform: translateY(10rem);
    margin-bottom: 10rem;
    height: auto;
    z-index: 2;
    overflow: hidden;
}
.hero-text {
    position: relative;
    text-align: center;
    padding-left: 1rem;
    overflow: hidden;
}
.hero-text h1 {
    color: var(--p-color);
    padding: 0;
    margin: 0;
    font-family: "Rowdies", Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3.5rem;
    letter-spacing: 0rem;
    overflow: hidden;
}
.hero-text h1:nth-child(2) {
    font-size: 2rem;
    color: #666;
    font-weight: 100;
}
.hero-text p {
    color: #555;
    padding: 0;
    margin: 1.5rem 0 0 0;
    max-width: 30rem;
    font-family: "Josefin Sans",  Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}
.hero a {
    font-size: 1.2rem;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.hero a:hover {
    color: #fff;
    font-weight: bold;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.hero .hero-slide {
    position: relative;
    width: 40rem;
    height: 28rem;
    overflow: hidden;
}
.hero .hero-slide::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/ovalbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.hero .hero-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}


/* ============== FEATURES ============= */
.single-feature {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .1);
}
.single-feature:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
}


/* ============== HOW IT WORKS ============= */
.how-it-works {
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
.how-it-works h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.hiwi-outer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: .5rem;
    text-align: center;
}
.hiwi-outer .hiwi {
    position: relative;
    display: flex;
    color: var(--p-color);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 8rem;
    height: 8rem;
    margin: 0 auto 2rem auto;
    /* background-color: var(--bg-color); */
    border-radius: 50%;
    box-shadow: 0 0 .5rem var(--p-color);
}
.hiwi-outer:nth-of-type(even) .hiwi {
    margin: 2rem auto 0 auto;
}
.hiwi-outer .hiwi::after {
    content: "";
    position: absolute;
    top: 7rem;
    width: 0.7rem;
    height: 0.7rem;
    background: var(--p-color);
    border-top-right-radius: 2rem;
    transform: rotate(315deg);
    box-shadow: 0 0 1rem rgba(0,0,0,.15);
}
.hiwi-outer:nth-of-type(even) .hiwi::after {
    top: 0.2rem;
    transform: rotate(138deg);
}
.hiwi-outer h4 {
    color: #777;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.hiwi-outer p {
    line-height: 1.25rem;
    text-align: center;
}
.hiwi-outer a {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 550;
    color: #fff;
    background: var(--p-color);
    padding: 0.2rem 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 .5px 5px rgba(0,0,0,.4);
    cursor: pointer;
}
.hiwi-outer a:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    outline: none;
}


/* ============== MEDIA QUERIES ============== */
@media (max-width: 1300px) {
    .hero h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .hero h1:nth-child(2) {
        font-size: 1.7rem;
    }
    .hero p {
        max-width: 24rem;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1180px) {
    .hero .hero-slide {
        width: 34.5rem;
        height: 24rem;
    } 
}

@media (max-width: 1080px) {
    .hero h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .hero h1:nth-child(2) {
        font-size: 1.45rem;
    }
    .hero p {
        max-width: 20rem;
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
    .hero .hero-slide {
        width: 32rem;
        height: 23rem;
    }
    .hiwi-outer {
        margin-bottom: 2rem;
    }
    .hiwi-outer .hiwi {
        margin: 0 auto 1rem auto;
    }
    .hiwi-outer:nth-of-type(even) .hiwi {
        margin: 1rem auto 0 auto;
    }
    .hiwi-outer:nth-child(3),
    .hiwi-outer:nth-child(4) {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    .hero {
        transform: translateY(9rem);
        margin-bottom: 5rem;
    }
    .hero .hero-text {
        padding-left: 0;
    }
    .hero h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .hero h1:nth-child(2) {
        font-size: 1.7rem;
    }
    .hero p {
        max-width: 50%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 1rem auto 0 auto;
    }
    .hero .hero-slide-wrp {
        margin-top: 5rem;
    }
    .hero .hero-slide {
        width: 40rem;
        height: 28rem;
    }
}

@media (max-width: 767px) {
    .hero {
        transform: translateY(7rem);
    }
    .hero {
        padding: 1rem;
    }
    .hero h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .hero h1:nth-child(2) {
        font-size: 1.4rem;
    }
    .hero p {
        max-width: 80%;
        margin: 1rem auto 0 auto;
    }
    .hero .hero-slide {
        width: 35rem;
        height: 24rem;
    }
}

@media (max-width: 576px) {
    .hero .hero-slide {
        width: 30.5rem;
        height: 21rem;
    }
}

@media (max-width: 505px) {
    .hero h1 {
        font-size: 2rem;
        line-height: 2.1rem;
    }
    .hero h1:nth-child(2) {
        font-size: 1.2rem;
    }
    .hero p {
        max-width: 90%;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .hero .hero-slide {
        width: 20rem;
        height: 14rem;
    }
    .hiwi-outer,
    .hiwi-outer:nth-of-type(3) {
        margin-bottom: 1.5rem;
    }
    .hiwi-outer:nth-of-type(even) .hiwi {
        margin: 0 auto 1rem auto;
    }
    .hiwi-outer:nth-of-type(even) .hiwi::after {
        top: 7rem;
        transform: rotate(315deg);
    }
}



