.preloader1 {
    width: 100%;
    height: 100%;
    position: relative;
}
.loader1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    aspect-ratio: 8;
    --c:#7730fc 90%,#0000;
    background: 
        radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
        radial-gradient(circle closest-side                     ,var(--c)),
        radial-gradient(circle closest-side at right 6px top 50%,var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
}

.loader2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    aspect-ratio: 8;
    --c:var(--bg-color) 90%,#0000;
    background: 
        radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
        radial-gradient(circle closest-side                     ,var(--c)),
        radial-gradient(circle closest-side at right 6px top 50%,var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
}

@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}

.logout-loader {
    --c:rgb(236, 25, 25) 90%,#0000;
    background-size: 90% 90%;
}

